<!--<body class="abc">
<mat-toolbar color="primary">
  <button (click)="ar2()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
  </svg></button>
    <span style="margin-left: 690px;">My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    
  </mat-toolbar>
<div fxLayoutAlign="center center" fxFlexFill class="myinfo">
<mat-card class="example-card">
    
    
    <mat-card-content>
      <p>
        1. you have 10 question</p>
      <p>  2. every question have negative marking </p>
        <p>3. click start to proceed.</p>
      
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="reset" color="primary" style="margin-left: 250px;" (click)='gethome()'>cancel</button>
      <button mat-raised-button type="submit" color="primary" (click)='getquiz()' >Start</button>
    </mat-card-actions>
  </mat-card>
  </div>
  </body>
-->

<h2 mat-dialog-title>THANK YOU</h2>
<mat-dialog-content class="mat-typography">
  <p>
    We Will Reach To You Soon</p>
 
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="feed()">Cancel</button>
  
</mat-dialog-actions>