
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/assets/img/myback.jpeg");
  min-height: 100%;
  margin-top: 40px;
}

.nav-bar .nav-button {
  padding: 16px;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="nav-top">
  <div class="nav-bar nav-white nav-card" id="myNavbar">
    <a href="#home" class="nav-bar-item nav-button nav-wide">TREATO</a>
    <!-- Right-sided navbar links -->
    <div class="nav-right nav-hide-small">
      <a href="#about" class="nav-bar-item nav-button">ABOUT</a>
      <a href="#team" class="nav-bar-item nav-button"><i class="fa fa-user"></i> TEAM</a>
    
      <a href="#consult" class="nav-bar-item nav-button"><i class="fa fa-user-md" aria-hidden="true"></i> CONSULT</a>
      <a href="#contact" class="nav-bar-item nav-button"><i class="fa fa-envelope"></i> CONTACT US</a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    
   
  </div>
</div>



<!-- Header with full-height image -->
<header class="bgimg-1 nav-display-container nav-grayscale-min" id="home">
  <div class="nav-display-left nav-text-white" style="padding:48px">
    <span class="nav-large nav-black nav-jumbo">START SOMETHING THAT MATTERS</span><br>
    <span class="nav-large nav-black ">THE ONLY SELF LOVE MANISFESTATION RITUAL YOU WILL EVER NEED</span>
    <p><button (click)="getback()" class="nav-button nav-white nav-padding-large nav-large nav-margin-top nav-opacity nav-hover-opacity-off" style="color:floralwhite">Get Started!!!</button></p>
  </div> 
  
</header>

<!-- About Section -->
<div class="nav-container" style="padding:128px 16px" id="about">
  <h3 class="nav-center">ABOUT THE COMPANY</h3>
  <p class="nav-center nav-large">Key features of our company</p>
  <div class="nav-row-padding nav-center" style="margin-top:64px">
    <div class="nav-quarter">
      <i class="fa fa-desktop nav-margin-bottom nav-jumbo nav-center"></i>
      <p class="nav-large">Integrity</p>
      <p>Being ethically unyielding and honest and inspiring trust by saying what we mean, matching our behaviors to our words and taking responsibility for our actions.</p>
    </div>
    <div class="nav-quarter">
      <i class="fa fa-heart nav-margin-bottom nav-jumbo"></i>
      <p class="nav-large">Patient-centredness</p>
      <p>We keep patient perspective, opinions, needs, interests and safety at the centre of every decision that we make.  </p>
    </div>
    <div class="nav-quarter">
      <i class="fa fa-diamond nav-margin-bottom nav-jumbo"></i>
      <p class="nav-large">Respect</p>
      <p>Respect is deserved, not earned, and is the core of how we deal with each other and those whom we interact.</p>
    </div>
    <div class="nav-quarter">
      <i class="fa fa-cog nav-margin-bottom nav-jumbo"></i>
      <p class="nav-large">Accountability</p>
      <p>We are committed to serving our patients. We take pride in our success and are responsible for our shortcomings.</p>
    </div>
  </div>
</div>



<!-- Team Section -->
<div class="nav-container" style="padding:128px 16px" id="team">
  <h3 class="nav-center">THE TEAM</h3>
  <p class="nav-center nav-large">The ones who runs this company</p>
  <div class="nav-row-padding nav-grayscale" style="margin-top:64px">
    <div class="nav-col l3 m6 nav-margin-bottom">
      <div class="nav-card nav-hover-shadow ">
        <img src="assets/img/it1.jpg" alt="John" style="width:100%">
        <div class="nav-container">
          <h3>Mahesh Sen</h3>
          <p class="nav-opacity">CEO & Founder</p>
          
          <p><button class="nav-button nav-light-grey nav-block"><i class="fa fa-envelope"></i> Contact</button></p>
        </div>
      </div>
    </div>
    <div class="nav-col l3 m6 nav-margin-bottom">
      <div class="nav-card nav-hover-shadow">
        <img src="assets/img/it2.jpg" alt="Jane" style="width:100%">
        <div class="nav-container">
          <h3>Mihir Jha</h3>
          <p class="nav-opacity">Art Director</p>
          
          <p><button class="nav-button nav-light-grey nav-block"><i class="fa fa-envelope"></i> Contact</button></p>
        </div>
      </div>
    </div>
    <div class="nav-col l3 m6 nav-margin-bottom">
      <div class="nav-card nav-hover-shadow">
        <img src="assets/img/it3.jpg" alt="Mike" style="width:100%">
        <div class="nav-container">
          <h3>Dolly </h3>
          <p class="nav-opacity">Web Designer</p>
          
          <p><button class="nav-button nav-light-grey nav-block"><i class="fa fa-envelope"></i> Contact</button></p>
        </div>
      </div>
    </div>
    <div class="nav-col l3 m6 nav-margin-bottom">
      <div class="nav-card nav-hover-shadow">
        <img src="assets/img/it4.jpg" alt="Dan" style="width:100%">
        <div class="nav-container">
          <h3>Reena Shah</h3>
          <p class="nav-opacity">Designer</p>
          
          <p><button class="nav-button nav-light-grey nav-block" ><i class="fa fa-envelope"></i> Contact</button></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--doctor consultation-->
<div class="nav-container" style="padding:128px 16px" id="consult">
  <h3 class="nav-center">THE DOCTOR</h3>
  <p class="nav-center nav-large">The ones who consults our clients</p>
  <div class="nav-row-padding nav-grayscale" style="margin-top:64px">

    <div class="nav-col l3 m6 nav-margin-bottom">
      <div class="nav-card nav-hover-shadow ">
        <img src="assets/img/d4.jpg" alt="Jane" style="width:100%">
        <div class="nav-container">
          <h3>Nikhil Rai</h3>
          <p class="nav-opacity">Endocrinologist</p>
         
          <p><button class="nav-button w3-bar-item nav-light-grey nav-block" (click)="appoint()" ><i class="fa fa-envelope"></i> Consult</button></p>
        </div>
      </div>
    </div>
    <div class="nav-col l3 m6 nav-margin-bottom">
      <div class="nav-card nav-hover-shadow ">
        <img src="assets/img/doctor2.jpg" alt="Mike" style="width:100%">
        <div class="nav-container">
          <h3>Mini Shah</h3>
          <p class="nav-opacity">Endocrinologist</p>
          
          <p><button class="nav-button nav-light-grey nav-block" (click)="appoint()"><i class="fa fa-envelope"></i> Consult</button></p>
        </div>
      </div>
    </div>
    <div class="nav-col l3 m6 nav-margin-bottom">
      <div class="nav-card nav-hover-shadow ">
        <img src="assets/img/doctor1.jpg" alt="Dan" style="width:100%">
        <div class="nav-container">
          <h3>Reena Mathur</h3>
          <p class="nav-opacity">Dietician</p>
         
          <p><button class="nav-button nav-light-grey nav-block" (click)="appoint()"><i class="fa fa-envelope"></i> Consult</button></p>
        </div>
      </div>
    </div>
    <div class="nav-col l3 m6 nav-margin-bottom">
      <div class="nav-card nav-hover-shadow ">
        <img src="assets/img/d3.jpg" alt="Jane" style="width:100%">
        <div class="nav-container">
          <h3>Jia Khan</h3>
          <p class="nav-opacity">Gynae</p>
          
          <p><button class="nav-button nav-light-grey nav-block" (click)="appoint()"><i class="fa fa-envelope"></i> Consult</button></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Promo Section "Statistics" -->
<div class="nav-container nav-row nav-center nav-dark-gray nav-padding-64">
  <div class="nav-quarter">
    <span class="nav-xxlarge">14+</span>
    <br>Partners
  </div>
  <div class="nav-quarter">
    <span class="nav-xxlarge">5500+</span>
    <br>Consultation
  </div>
  <div class="nav-quarter">
    <span class="nav-xxlarge">5000+</span>
    <br>Happy Clients
  </div>
  <div class="nav-quarter">
    <span class="nav-xxlarge">150+</span>
    <br>Doctors
  </div>
</div>





 
 


  




<!-- Contact Section -->
<div class="nav-container nav-light-grey" style="padding:128px 16px" id="contact">
  <h3 class="nav-center">CONTACT</h3>
  <p class="nav-center nav-large">Lets get in touch. Send us a message</p>
  <div style="margin-top:48px">
    <p><i class="fa fa-map-marker fa-fw nav-xxlarge nav-margin-right"></i> Mathura, India</p>
    <p><i class="fa fa-phone fa-fw nav-xxlarge nav-margin-right"></i> Phone: +00 123456789 </p>
    <p><i class="fa fa-envelope fa-fw nav-xxlarge nav-margin-right"> </i> Email: abc@gmail.com</p>
    <br>
    <form action="/action_page.php" target="_blank">
      <p><input class="nav-input nav-border" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="nav-input nav-border" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="nav-input nav-border" type="text" placeholder="Subject" required name="Subject"></p>
      <p><input class="nav-input nav-border" type="text" placeholder="Message" required name="Message"></p>
      <p>
        <button class="nav-button nav-black" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </p>
    </form>
    <!-- Image of location/map -->
    
  </div>
</div>

<!-- Footer -->
<footer class="nav-center nav-black nav-padding-64">
  <a href="#home" class="nav-button nav-light-grey"><i class="fa fa-arrow-up nav-margin-right"></i>To the top</a>
  <div class="nav-xlarge nav-section">
    <i class="fa fa-facebook-official nav-hover-opacity" style="margin-left: 6px;"></i>
    <i class="fa fa-instagram nav-hover-opacity" style="margin-left: 6px;"></i>
    <i class="fa fa-snapchat nav-hover-opacity" style="margin-left: 6px;"></i>
    <i class="fa fa-pinterest-p nav-hover-opacity" style="margin-left: 6px;"></i>
    <i class="fa fa-twitter nav-hover-opacity" style="margin-left: 6px;"></i>
    <i class="fa fa-linkedin nav-hover-opacity" style="margin-left: 6px;"></i>
  </div>
 
</footer>
 



</body>
</html>
